@model WebApplication1.Models.Domain.Movie
@{
}
<div class="card bg-light mb-3" style="width: 400px;">
    <img class="card-img-top" alt="image" style="width: 400px;" src="https://cdn-2.tstatic.net/makassar/foto/bank/images/spoiler-jalan-cerita-trailer-the-davinci-code-bioskop-trans-tv-17-november-2019-thriller-misteri.jpg">
    <div class="card-body">
        <h5 class="card-title">@Model.Title</h5>
        <div class="card-text">
            <h4>@Model.GenreNames</h4>
            <h4>@Model.ReleaseYear</h4>
            <h4>Cast : @Model.Cast</h4>
            <h4>Director : @Model.Director</h4>
        </div>
    </div>
</div>

<div class="">
    <a href="/Home/Index" class="btn btn-danger">Back</a>
</div>
